html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    font-size: 16px !important;
}

header{
    background-color: rgba(61, 155, 58, 1);
}

button{
    border-radius: 110em !important;
    font-size: small !important;
}

.gradient-bars-main{
    margin-left: 8em;
    white-space: nowrap;
    font-size:14px;
    width: 25em;
    border-radius: 20em;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.5))
}
.fundo-elk-logo{
    padding: 0.5em;
    align-items: center;
    background-color: white;
    margin-left: 6em;
    height: 5em;
    overflow: hidden;
    border-radius: 7em;
}
  
.fundo-elk-logo a img{
    height:100%;
    width: 100%;
    object-fit: contain;
}